* {
  font-size: 1rem;
  font-family: Karla,Helvetica,sans-serif;
}

html {
  background-color: #39e09b;
}

body {
  margin: 0;
}

.linksList {
  display: block;
  color: red;
  max-width: 680px;
  position: center;
  margin: auto;
}

.linkContainer {
  display: block;
  border-style: solid;
  border-color: black;
  margin-bottom: 12px;
  text-align: center;
  padding: 17px;
  text-decoration: none;
  color: black;
}

.avatarStyle {
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.userContainer {
  text-align: center;
  font-size: 12px;
  margin: 30px;
}

.link {
  font-weight: 700;
}

.link:hover {
  background-color: pink;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.login-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.login-buttons input {
  margin: 10px;
}

.login-buttons button {
  height: 82px;
}

.newlink-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25vh;
  overflow: hidden;
}

.newlink-buttons input {
  margin: 10px;
}

.newlink-buttons button {
  height: 82px;
}

.signup-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.signup-buttons input {
  margin: 10px;
}

.signup-buttons button {
  height: 82px;
}

.sign-in-button:hover {
  color: rgb(31, 28, 28);
  background-color: white
}

.sign-in-button {
  background-color: rgb(31, 28, 28);
  text-decoration: none;
  padding: 30px 50px 30px 50px;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  margin: 50px;
  min-width: 83.13px;
  text-align: center;
}

.sign-in-button p {
  margin: 0px;
}

#or {
  color: white;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.user-input {
  background-color: white;
  cursor: auto;
  border-color: rgb(31, 28, 28);
  border-width: 2px;
  padding: 30px 50px 30px 50px;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.user-submit {
  background-color: rgb(31, 28, 28);
  cursor: pointer;
  border: none;
  padding: 30px 50px 30px 50px;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: white
}

.user-submit:hover {
  color: rgb(31, 28, 28);
  background-color: white;
}

input::placeholder {
  color: rgb(31, 28, 28);
}

input {
  color: rgb(31, 28, 28);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer a {
  color: white;
  text-decoration: none;
  font-size: 20px;;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
}

.new-link {
  background-color: white;
  padding: 50px;
  border-radius: 3px;
}

.admin-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(31, 28, 28);
  color: white;
  padding: 15px;
  height: 30px;
}

.header-links {
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  margin: 50px;
  text-align: center;
}

.header-links:hover {
  color: rgb(31, 28, 28);
  background-color: white;
}

.active {
  border-bottom: 3px solid #39e09b;
}

.settings-container {
  background-color: white;
  height: 500px;
  width: 470px;
  margin: auto;
  margin-top: 50px;
}

.avatar-container {
  background-color: aqua;
}

.avatar {
  display: inline-block;
  margin: 10px 10px 10px 10px;
}

.avatar-form {
  display: inline-block;
}

.change-avatar-style {
  width: 82px;
  height: 82px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .buttons {
    flex-direction: column;
  }
}

@media only screen and (max-width: 850px) {
  .login-buttons {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1250px) {
  .signup-buttons {
    flex-direction: column;
  }
}


/*
input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: 8px;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
  opacity: 1;
}

.inputText {
  font-size: 14px;
  width: 200px;
  height: 35px;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 18px;
  transition: 0.2s ease all;
}*/